.page-about-me {

    .qna {
        margin: 0 10%;

        .row {
            margin-top: 1em;
        }
        
        .q, .a {
            display: block;
        }
      
        .q {
            font-weight: bold;
        
            &::before {
                content: "Q: ";
            }
        }
      
        .qna .a {
            &::before {
                content: "A: ";
            }
        }
    }
}