@import 'pages/homepage';
@import 'pages/aboutpage';
@import 'pages/socialpage';

.page {
    padding-bottom: 3em;
    font-size: 1.1em;
    
    .subheading {
        text-align: center;
        margin: 2em;
        font-size: 2em;
    }

    a {
        color: $link-color;
        text-decoration: none;
        border-bottom: 2px solid transparent;
        transition: all ease 0.2s;

        &:hover {
            color: $link-hover-color;
            border-color: $link-hover-color;
        }
    }
}