$nav-background-color: #222235;
$nav-color: #dadada;

$text-color: #fafafa;

$header-font: "Montserrat";
$body-font: "Raleway";

$link-color:#222235;
$link-hover-color: #46465f;

$mobile-width: 680px;